Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 10000
IceGrid.Node.Name=node-Spotifice
IceGrid.Node.Data=/tmp/icedata/node-Spotifice
IceGrid.Node.Endpoints=tcp
IceGrid.Node.CollocateRegistry=1
IceGrid.Registry.Client.Endpoints=tcp -p 10000
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
IceGrid.Registry.LMDB.Path=/tmp/icedata/registry
IceGrid.Registry.PermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.DefaultTemplates=/tmp/icedata/default-templates.xml

# Ice.StdOut=/tmp/icedata/node-Spotifice/out.txt
# Ice.StdErr=/tmp/icedata/node-Spotifice/err.txt
